.paginated_collection
  .paginated_collection_contents
    .index_content
      .index_as_table
        %table(class='index_table index' paginator='true' cellspacing='0' cellpadding='0')
          %thead
            %tr
              - BrandFile.columns.each do |attribute_name|
                %th.col
                  = BrandFile.human_attribute_name(attribute_name)
          %tbody
            = render partial: 'file', collection: brand.files

  .pagination_information
    Результат
    %b
      1
    = BrandFile.model_name.human(count: 3)