.table_tools
= render layout: 'shared/paginated_table', locals: { subject_class: Brand, subject_collection: @brand_collection } do |subject|
  = link_to I18n.t('show'), admin_brandpage_show_path(id: subject.id), class: 'view_link member_link c-button c-button--info u-xsmall'
  = link_to I18n.t('edit'), admin_brandpage_edit_path(id: subject.id), class: 'edit_link member_link c-button c-button--info u-xsmall' if subject.state == 'Draft'
  = link_to I18n.t('delete'), admin_brandpage_delete_path(id: subject.id), class: 'delete_link member_link c-button c-button--error u-xsmall',
                  data: {confirm: I18n.t('delete_brand_sure'), method: :delete} if subject.state == 'Draft'
