.without_sidebar
  = form_with(model: @brand, local: true, url: admin_brandpage_update_path, class: 'formtastic admin_user', method: :patch) do |f|
    = f.hidden_field(:id)
    %fieldset.inputs
      %ol
        = text_input_field(f, :name, @brand)
    %fieldset.actions
      %ol
        %li.action.input_action
          = f.submit(I18n.t('save'))