.without_sidebar
  = form_with(model: @brand, local: true, url: admin_brandpage_create_path, class: 'formtastic admin_user') do |f|
    %fieldset.inputs
      %ol
        = text_input_field(f, :name, @brand)
    %fieldset.actions
      %ol
        %li.action.input_action
          = f.submit(I18n.t('save'))